html, body {
  overflow: auto;
}

#content {
  margin: 70px 100px 0 100px;
  max-width: 75%;
}

#console {
  margin-top: 20px;
  background: #ccc;
  padding: 20px;
}

#console ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#console li.data {
  color: #0271FF;
}

#console ul li:before {
  content: '>> ';
}

.hidden {
  display: none !important;
}
